<div class="card">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">Form {{ user.id > 0 ?
                'Edit' :
                'Create'}} User</h5>
        </div>
        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
            <div class="card-body">
                <div>
                    <input type="text" class="form-control my-2" placeholder="Name" name="name" [(ngModel)]="user.name"
                        required #name="ngModel">
                    @if (erros?.name) {
                    <div class="alert alert-danger">
                        {{erros.name}}
                    </div>
                    }
                    <!-- @if (name.invalid && (name.dirty || name.touched)) {
                        <div class="alert alert-danger">
                            @if (name.errors!['required']) {
                            name is required
                            }
                        </div>
                        } -->
                </div>
                <div>
                    <input type="text" class="form-control my-2" placeholder="Lastname" name="lastname"
                        [(ngModel)]="user.lastname" required #lastname="ngModel">
                    @if (erros?.lastname) {
                    <div class="alert alert-danger">
                        {{erros.lastname}}
                    </div>
                    }
                    <!-- @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
                    <div class="alert alert-danger">
                        @if (lastname.errors!['required']) {
                        lastName is required
                        }
                    </div>
                    } -->
                </div>
                <div>
                    <input type="email" class="form-control my-2" placeholder="Email" name="email" email
                        [(ngModel)]="user.email" required #email="ngModel">
                    @if (erros?.email) {
                    <div class="alert alert-danger">
                        {{erros.email}}
                    </div>
                    }
                    <!-- @if (email.invalid && (email.dirty || email.touched)) {
                    <div class="alert alert-danger">
                        @if (email.errors!['required']) {
                        email is required
                        }
                        @if (email.errors!['email']) {
                        email is not valid
                        }
                    </div>
                    } -->
                </div>
                <div>
                    <input type="text" class="form-control my-2" placeholder="Username" name="username"
                        [(ngModel)]="user.username" required minlength="6" #username="ngModel">
                    @if (erros?.username) {
                    <div class="alert alert-danger">
                        {{erros?.username}}
                    </div>
                    }
                    <!-- @if (username.invalid && (username.dirty || username.touched)) {
                    <div class="alert alert-danger">
                        @if (username.errors!['required']) {
                        username is required
                        }
                        @if (username.errors!['minlength']) {
                        username must have at least 6 characters
                        }
                    </div>
                    } -->
                </div>
                @if (user.id == 0) {
                <div>
                    <input type="password" class="form-control my-2" placeholder="Password" name="password"
                        [(ngModel)]="user.password" required minlength="6" #password="ngModel">
                    @if (erros?.password) {
                    <div class="alert alert-danger">
                        {{erros.password}}
                    </div>
                    }
                    <!-- @if (password.invalid && (password.dirty || password.touched)) {
                    <div class="alert alert-danger">
                        @if (password.errors!['required']) {
                        password is required
                        }
                        @if (password.errors!['minlength']) {
                        password must have at least 6 characters
                        }
                    </div>
                    } -->
                </div>
                }

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ user.id > 0 ?
                    'Edit' :
                    'Create'}}</button>
                <button type="button" class="btn btn-danger mx-2" (click)="onclear(userForm)"
                    data-bs-dismiss="modal">Clear</button>
            </div>
        </form>
    </div>
</div>