<div class="container "> 
<h1 class="text-center">{{ title }}</h1> 

<h3>Interpolation</h3>
<app-interpolation/>
<h3>Inherit</h3>
<app-father/>
<h3>Encapsulation</h3>
<app-encapsulation/>
<h3>Event Binding</h3>
<app-event-binding/>
<h3>Property Binding</h3>
<app-property-binding/>
<h3>Two-way Binding</h3>
<app-two-way-binding/>
<h3>Calculator</h3>
<app-calculator/>
<h3>Conditional</h3>
<app-conditional/>
<h3>Local Reference</h3>
<app-local-reference/>
<h3>Loop</h3>
<app-loop/>
<h3>Shop Online</h3>
<app-shop-online/>

<h3>Example Directive</h3>
<app-example-directive/>
<h3>localStorage y SessionStorage</h3>
<app-localstorage-sessionstorage/>

<router-outlet />

</div> 